@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

html, body{
    width: 100%;
}

/* to top*/
#to-top{
    display: none;
}
#to-top.active{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    display: grid;
    place-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: #00000075;
    color: #fff;
    padding: 25px;
    z-index: 9999;
    cursor: pointer;
}
#to-top.active:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s ease-in-out;
}

/*Navigation*/

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    z-index: 9999;
}

header.active{
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0,0,0,0.3);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.btn{
text-decoration: none;
color: #fff;
background: #000;
padding: 10px 20px;
border-radius: 5px;
transition: 0.05s ease-in-out;
}

.btn:hover{
    color: #000;
    background-color: #fff;
    box-shadow:  1px 1px 15px #8c8c8c,
                -1px -1px 15px #ffffff;
}

header.active nav ul a{
    color: #000;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}
.logo-container span{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
}
.logo{
    display: none;
}
header.active .white-logo{
    display: none;
}
header.active .logo{
    width: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-logo{
    width: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.active .logo-container span{
    color: #000;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    padding: 5px 5px;
    transition: 0.1s ease-in-out;
}

nav ul a:hover{
    border-bottom: 2px #ffffff solid;
}
header.active nav ul a:hover{

    border-bottom: 2px solid #000;
}
header.active .link:hover,
header.active .dropdown.active > .link{
    border-bottom: 2px solid #000;
}

.mobile-nav{
    display: none;
}

header.active button{
    color: #000;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
}
.dropdown.active > .link,
button:hover{
    border-bottom: 2px solid #fff;
}

.mobile-nav button{
    color: #000;
    font-weight: 600;
    font-size: 1.2em;
}

.mobile-nav .dropdown-menu{
    z-index: 99999;
    left: -70%;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    background-color: #fff;
    width: clamp(250px, 100%, 300px);
    height: fit-content;
    padding: 25px 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0 rgba(0,0,0,0.3);
    top: calc(100% + 1.1em);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    transform: translateY(-25px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu
{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown-menu ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: left;
    align-items: flex-start;
    gap: 2px;
}

.dropdown-menu ul li a{
    color: #000;
}
header.active .dropdown-menu ul li a:hover,
.dropdown-menu ul li a:hover{
    border: none;
}
.dropdown-menu ul li{
    padding: 15px 10px;
    width: 100%;
}
.dropdown-menu ul li:hover{
    background-color: #bdbdbd;
    cursor: pointer;
}


/*footer*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
}

footer .items{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px;
    flex-wrap: wrap;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 35ch;
}

.footer-col li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-col a{
    text-decoration: none;
    color: #fff;
}

.social-links{
    display: flex;
    gap: 15px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff94;
    border-radius: 50%;
    font-size: 1.15em;
}

.social-link:hover{
    background-color: #fff;
    transition: 0.2s ease-in-out;
}

.fa-facebook{
    color: #1877F2;
}
.fa-x-twitter{
    color: #000;
}
.fa-instagram{
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.f-headings{
    border-bottom: #b10000 2px solid;
    padding-bottom: 10px;
}

.subscribe{
    display: flex;
    gap: 5px;
}

.subscribe input{
    background-color: transparent;
    border: 1px solid #b10000;
    padding: 10px 5px;
    border-radius: 5px;
}

.subscribe .submit-btn{
    color: #fff;
    background-color: #b10000;
    padding: 10px 20px;
    cursor: pointer;
}

.subscribe input::placeholder{
    color: #a1a1a1;
    font-size: 1.2em;
}

footer .copyright{
    font-size: 0.8em;
}


/*main*/
main{
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 7em;
    font-weight: 900;
}

h2{
    font-size: 3em;
    font-weight: 900;
}

h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.2em;
    font-weight: 900;
}
p{
    font-size: 1.2em;
    font-weight: 400;
}

/*Hero*/
.Hero{
    height: fit-content;
    background-image: url(/Assets/images/couple-getting-ready-move-with-their-daughter.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #918f8f;
}

.Hero .contents{
    width: 100%;
    background: rgba( 0, 8, 21, 0.05 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    display: flex;
    padding: 100px 30px;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.Hero .contents p{
    font-weight: 700;
    font-size: 1.5em;
}

.btn.cta{
    background-color: transparent;
    border: 2px solid #000;
}
.cta-btns{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/*About us section */
.About-us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}
.About-us .contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}
#processes{
    margin-top: 35px;
}
.about p{
    width: clamp(30ch, 90%, 80ch);
}

.values{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000;
    width: 100%;
    padding-bottom: 80px;
}
.values h2{
    color: #fff;
}

.card-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding-top: 50px;
}
#about{
    padding-bottom: 80px;
}

.card{
    width: clamp(20em, 22.5%, 30em);
    height: 25em;
    border-radius: 26px;
    background: #fff;
    box-shadow:  10px 10px 29px #000000,
                -10px -10px 29px #272727;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 10px;
    gap: 25px;
    transition: all ease-in-out 0.6s;
}
.card:hover{
    box-shadow:  5px 5px 19px #000000,
                -5px -5px 19px #272727;
}

.card i{
    font-size: 3em;
}
.card i,.card h3{
    background-image: linear-gradient(to bottom right, #000000, #686764);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.6s;
}
.card:hover i, .card:hover h3{
    background-image: linear-gradient(to bottom right, #b10000, #2b0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/*Processes section*/
.processes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.processes .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.planning{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
}

.check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(20em,45%, 50em);
    gap: 15px;
    padding: 15px;
}
.check p{
    font-weight: 400;
}

.image{
    font-size: 5.5em;
}
.image i{
    background-image: linear-gradient(to bottom right, #000000, #686764);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.6s;
    cursor: pointer;
}

.check:hover .image i, 
.check:hover .info h3{
    background-image: linear-gradient(to bottom right, #b10000, #2b0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}
/*Send Message*/
.send-message{
    height: fit-content;
    width: 100%;
    padding: 20px 0px;
}

.img img{
    width: 45em;
}

.send-message .content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.send-message .content .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    padding: 10px 20px;
}

/*Testimonials*/
.testimonials{
    height: fit-content;
    width: 100%;
    padding-top: 40px;
}

.testimonials .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: #000;
    padding: 80px 0px;
}

.testimonials .content .testimony-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

.testimony{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    width: clamp(20em, 30%, 40em);
    height: fit-content;
    padding: 40px 0px;
}

@media(min-width: 1025px){
    .testimony{
        border-right: 2px solid #fff;
    }
}
.testimony p{
    width: clamp(30ch, 90%, 50ch);
    text-align: left;
}
.testimony .details{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    width: 80%;
}
.testimony .details p{
    text-align: right;
    color: #b10000;
}
.testimony .details ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5px;
    color: #b10000;
}

/*Steps section*/
.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(/Assets/images/trucks_buses.jpg.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #918f8f;
    height: fit-content;
}
#storage{
    background-image: url(/Assets/images/storage-locker-tips.jpg);
}

.steps .content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    gap: 35px;
    flex-direction: column;
    background-color: #fff;
    width: clamp(50em, 40%, 60em);
    height: clamp(30em, 70%, 50em);
}
#right-for-me{
    gap: 10px;
    padding: 50px;
}

.container ul{
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.container ul p a{
    text-decoration: none;
    color: #b10000;
}

.container ul p span{
    font-weight: 600;
}



/* Quotations page*/
.quotations{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Assets/images/interracial-couple-getting-ready.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #918f8f;
}
.quotations .contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 30px;
    width: 100%;
}


.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: clamp(35em, 90%, 40em);
    background: rgba( 0, 8, 21, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.quotation-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.quotation-form input{
    background-color: transparent;
    border: 2px #e6e4e4 solid;
    border-radius: 5px;
    width: clamp(25em, 90%, 30em);
    height: 3em;
    padding: 5px;
}
.quotation-form label{
    font-size: 1.1em;
    font-weight: 700;
}
.quotation-form input:hover{
    background-color: #7d7d7d33;
}
.quotation-form input::-webkit-input-placeholder{
    color: #e6e4e4;
}
.quotation-form textarea{
    background-color: transparent;
    border: 2px #e6e4e4 solid;
    border-radius: 5px;
    width: clamp(25em, 90%, 30em);
}
.quotation-form textarea:hover{
    background-color: #7d7d7d33;
}
.quotation-form textarea::-webkit-input-placeholder{
    -webkit-text-fill-color: #e6e4e4;
}
.bookings .contents .form-container .quotation-form input::-webkit-input-placeholder{
    -webkit-text-fill-color: #000;
}
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
    border: 2px solid #1a1a1a;
    -webkit-text-fill-color: #1a1a1a;
    background-color: #c5c5c5de;
    transition: background-color 5000s ease-in-out 0s;
}
input:focus,
input:active{
    -webkit-text-fill-color: #fff;
    box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    border: 2px solid #1a1a1a;
    -webkit-text-fill-color: #1a1a1a;
    background-color: #c5c5c5de;
    transition: background-color 5000s ease-in-out 0s;
}
.quotation-form input.btn{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.05s ease-in-out;
    border: none;
}
.quotation-form input.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

/*contact page*/
.contact-us{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Assets/images/couple.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #918f8f;
}

.contact-us .contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 30px;
    width: 100%;
}

/*booking page*/
.bookings{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Assets/images/african-american-man-getting-ready-his-new-home-move.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #918f8f;
}

.bookings .contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 30px;
    width: 100%;
}

/*careers page*/
.careers-hero{
    height: fit-content;
    padding: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: url(/Assets/images/xindexpage3.jpeg.pagespeed.ic.qo.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #353535;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.call-to-action{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.call-to-action a{
    text-decoration: none;
    color: #fff;
    padding: 15px 0px;
}
.call-to-action a:hover{
    color: #b10000;
}

.careers-message{
    flex-wrap: wrap;
    height: fit-content;
    gap: 0;
    padding: 0;
    margin: 0;
}
.message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50em;
    padding: 25px;
    gap: 10px;
}
.imagery-container{
    position: relative;
    height: 100%;
    width: clamp(30em, 58.25%, 70em);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.imagery{
    width: 100%;
}
.blur{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #2b000059;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 4px );
}




.winning{
    height: fit-content;
    padding: 100px 20px;
    flex-direction: column;
    gap: 25px;
    background-color: #faf1f1;
}
.winning h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}
.winning h2 span{
    border-bottom: 3px solid #b10000;
    width: 5em;
}
.item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
.item{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    text-align: left;
}


.opportunities{
    height: fit-content;
    padding: 100px 25px;
    background-image: url(/Assets/images/GoogleDrive_work-environment.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #575656;
    color: #fff;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.opportunities .btn{
    padding: 20px 50px;
}
.opportunity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.candidate{
    width: clamp(30em, 50%, 55em);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.positions{
    height: 100%;
    width: clamp(30em, 50%, 70em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.position{
    background: rgba( 0, 8, 21, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px;
    gap: 15px;
    width: clamp(25em, 90%, 55em);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.roles{
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.role{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: #b8b5b5;
    padding: 15px 5px;
    border-bottom: 1px solid #fff;
}
.role:hover{
    background-color: #a3a3a310;
}
.expiry{
    font-size: 0.9em;
}


.openings{
    height: fit-content;
    padding: 150px 15px;
    flex-direction: column;
    gap: 50px;
}

.current-openings{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    border-radius: 10px;
    box-shadow:  1px 1px 15px #8c8c8c,
                -1px -1px 15px #ffffff;
    width: 90%;
}
.current-openings h2{
    border-bottom: 3px solid #b10000;
    padding-bottom: 15px;
    margin: 5px;
}
.current-openings .role{
    color: #494949;
    font-size: 1em;
}
.post{
    width: 100%;
}
.job-desc{
    background-color: #a3a3a310;
    width: 90%;
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-500px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.job-desc ul li,
.job-desc p{
    font-size: 1em;
}
.job-desc.active{
    opacity: 1;
    transform: translateY(0px);
    display: flex;
    pointer-events: auto;
}
#role{
    border-bottom: 2px solid #c5c5c5;
}
#role:hover{
    cursor: pointer;
}

.application-form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    border-radius: 10px;
    box-shadow:  1px 1px 15px #8c8c8c,
                -1px -1px 15px #ffffff;
    width: 90%;
}
.application-form h2{
    border-bottom: 3px solid #b10000;
    padding-bottom: 15px;
    margin: 5px;
}
.application-form form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0px;
    width: 100%;
}

.input{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.input input:focus,
.input input{
    background-color: transparent;
    border: none;
    border-bottom: 1.7px solid #b8b5b5;
    width: clamp(18em, 100%, 75em);
    padding: 15px 5px;
    color: #000;
    -webkit-text-fill-color: #000;
}
.input label{
    background: transparent;
    color: #b8b5b5;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.input input:active .input label{
    display: none;
}
.input input:-webkit-autofill,
.input input:-webkit-autofill:hover, 
.input input:-webkit-autofill:focus{
    border: none;
    border-bottom: 2px solid #1a1a1a;
    -webkit-text-fill-color: #1a1a1a;
    background-color: #c5c5c5de;
    transition: background-color 5000s ease-in-out 0s;
}
.input input::-webkit-file-upload-button{
    text-decoration: none;
    -webkit-text-fill-color: #fff;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.05s ease-in-out;
    }

/*long distance movers*/
.services-hero{
    height: fit-content;
}
.services-hero .content{
    height: 100%;
    width: 100%;
    padding: 100px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    background: rgba(0, 5, 14, 0.267);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.services-hero.long-distance{
    background-image: url(/Assets/images/long_distance_02.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #888686;
}
.services-hero.storage{
    background-image: url(/Assets/images/AdobeStock_181658575-scaled.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #ccc7c7;
}
.btn.hero-btn{
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.btn.hero-btn:hover{
    border: 2px solid #fff;
    color: #fff;
}

.experts{
    height: fit-content;
    padding: 100px 0px;
    background-image: url(/Assets/images/moving\ guy.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #ffffff;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.experts .container{
    width: clamp(45em, 60%, 90em);
    padding: 50px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000000;
    color: #fff;
    gap: 10px;
}
.info-cards{
    width: 100%;
    padding: 15px 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.info-card{
    width: clamp(20em, 45%, 50em);
}
.info-card p{
    font-weight: 100;
}


.moving-details{
    height: fit-content;
    padding: 100px 0px;
}
.moving-details .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 150px 5px;
}
.detail-boxes .heading{
    padding: 15px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}
.detail-boxes .heading span{
    width: 100px;
    border-bottom: 3px solid #b10000;
}
.detail-boxes{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: clamp(45em, 45%, 70em);
    height: 45em;
    padding: 50px 10px;
    background-color: #fcfcfc;
}
#box{
    height: fit-content;
}
.detail-boxes ul{
    line-height: 40px;
}
.detail-boxes ul li span{
    font-weight: 700;
}
.detail-boxes p span{
    color: #b10000;
}
.detail-boxes p span a{
    text-decoration: none;
    color: #b10000;
}
.detail-boxes p span a:hover,
.detail-boxes p span:hover{
    text-decoration: underline;
}

.call-to-act{
    height: fit-content;
    padding: 100px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    color: #fff;
    background-color: #000;
}
.call-to-act .btn.hero-btn{
    padding: 15px 30px;
    color: #fff;
    border: 2px solid #fff;
}

.types{
    height: fit-content;
    padding: 150px 20px;
    flex-direction: column;
    flex-wrap: wrap;
}
.type-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    gap: 15px;
}
.type{
    width: clamp(20em, 23%, 35em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 35px 15px;
    height: 18em;
}
.type p{
    font-weight: 300;
}
.type:nth-child(2),
.type:nth-child(4)
{
    background-color: #fcfcfc;
}
.storage-info{
    height: fit-content;
    padding: 50px 0px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}
.storage-info .content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.storage-info .content .intro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.storage-info .content p{
    width: clamp(30ch, 90%, 100ch);
}
.information{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    flex-wrap: wrap;
}
.information .imagery{
    width: 25em;
}


















::-webkit-scrollbar{
    height: 2px;
    width: 2px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

/*mobile devices*/
@media(max-width: 541px){
    .experts .container{
        width: clamp(26em, 100%, 45em);
    }
    .detail-boxes{
        justify-content: center;
        height: fit-content;
        width: clamp(27em, 45%, 70em)
    }
}
@media(max-width: 820px){
    html, body{
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
    }
    header{
        width: 100%;
    }
    header nav{
        display: none;
    }
    .storage-info{
        padding: 150px 5px;
    }
    .storage-info .content{
        padding: 0px;
    }
    .current-openings{
        padding: 15px;
    }

    .application-form{
        padding: 15px;
    }

    .job-desc{
        width: 100%;
        padding: 5px;
    }

    #menuToggle
    {
        display: block;
        position: relative;

        z-index: 9999;

        -webkit-user-select: none;
        user-select: none;
    }


    #menuToggle input
    {
        display: block;
        position: absolute;
        width: 40px;
        height: 32px;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 9999; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    header.active #menuToggle span{
        background-color: #000;
    } 
    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #ffffff;
        border-radius: 3px;

        z-index: 9998;

        transform-origin: 18px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 100% 0%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Oh yeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -10px);
    }

    #menuToggle input:checked ~ ul
    {
        transform: none;
    }

    .hamburger{
        background: transparent;
        border: none;
    }

    .mobile-nav{
        display: flex;
        position: fixed;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #fff;
        z-index: 9998;
        transition: all ease-in-out 0.5s;
    }

    .mobile-nav ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 0;
    }

    .mobile-nav ul a{
        text-decoration: none;
        color: #000;
        font-size: 1.2em;
        font-weight: 600;
    }

    .mobile-nav ul a:active{
        color: #383838;
    }

    .mobile-nav.active{
        left: 0;
    }

    .testimony{
        border: 0;
    }

    h1{
        font-size: 5em;
    }
    .logo-container span{
        display: none;
    }

    .steps{
        height: fit-content;
        padding: 50px 0px;
    }

    .testimony .details{
        width: 100%;
    }

    .card{
        height: 30em;
    }
    .dropdown-menu ul li{
        padding: 10px 5px;
        width: 100%;
    }

}

@media(max-width: 1025px){
    .logo-container span{
        display: none;
    }
}


.hamburger{
    display: none;
}
